@import '../../common/variable';
.album {
  .album-detail {
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f6;
    @include respond-to(desktop){
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 350px;
      position: relative;
      h3{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color:#fff;
        font-size: 2.3em;
      }
    }
    img {
      float: left;
      width: 80px;
      margin-right: 10px;
    }
  }
  .track-list {
    div {
      &+div {
        margin-top: 8px;
        padding-top: 8px;
        // border-top: 1px solid lightgray;
      }
      img {
        float: left;
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      h3 {
        line-height: 40px;
      }
    }
    &>h3{
      margin: 8px 0;
      padding: 8px 0;
      border-bottom: 1px solid lightgray;
    }
    a.button {
      padding: 10px 20px;
      width: 200px;
      margin: 18px auto 0;
    }
  }
  .caption {
    color: #848693;
  }
}
