@import '../../common/variable';
.searchResult {
  background-color: $searchResultBgColor;
  position: relative;
  @include respond-to(tablet) {
    padding: 20px 10%;
  }
  @include respond-to(desktop) {
    min-height: 400px;
  }  
  .button {
    width: 150px;
    margin: 0 auto;
  }
  .search-holder{
    @include respond-to(desktop){
      background-image: url(/Assets/images/Magnify@2x.png);
      position: absolute;
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: 20%;
      background-repeat: no-repeat; 
      display: flex;
      justify-content: center;
      align-items: flex-end;
      left: 0;
      top: 0;
      span{
        padding-bottom: 25px;
        font-size: 2em;
        color:#8488a6;
      }  
    }
  }
}

.no-item {
  padding: 25px;
  color: #fff;
  text-align: center;
  font-size: 2em;
}
.box-shadow{
  box-shadow: 3px -1px 16px 2px #242424;
}
