@import '../../common/variable';
.footer {
  background-color: $footerBgColor;
  color: $footerColor;
  font-size: 22px;
  padding: 20px 0;
  span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}
